@tailwind base;
@tailwind components;
@tailwind utilities;

.player-music {
  background-color: #f87171 !important ;
  height: 6.8rem;
  max-height: 6.8rem;
}

.rhap_container {
  background: #e5e7eb;
}
.rhap_time,
.rhap_current-time {
  color: #e5e7eb !important;
}

.rhap_main-controls-button {
  width: 80px !important;
  height: 80px !important;
}

.rhap_main-controls-button {
  width: 56px;
  height: 56px;
  display: block;
}

.rhap_main-controls-button svg {
  color: #e5e7eb;
  width: 100%;
  height: 100%;
}
.rhap_progress-filled,
.rhap_progress-indicator {
  background-color: #e5e7eb !important;
}

.rhap_button-clear.rhap_volume-button {
  color: #e5e7eb !important;
}
.rhap_button-clear.rhap_repeat-button svg {
  color: #e5e7eb !important;
}
.rhap_volume-bar,
.rhap_volume-indicator {
  background-color: #e5ebeb;
}
